  <div class="inner_text">
    <div class="profile-img">
      <div>
        <img src="../../assets/images/download.jpeg" alt="img" />
      </div>
      <div class="profile-desc">
        <span class="profile-name">John Doe</span>
        <span class="profile-mail">emailaddress@gmail.com</span>
      </div>
      <div class="profile-details">
        <ul>
          <li class="menu-item">Dashboard</li>
          <li class="menu-item active">Site Details</li>
          <li class="menu-item">Migrations</li>
          <li class="menu-item">Backups</li>
          <li class="menu-item">Collaborators</li>
          <li class="menu-item">Support Tickets</li>
          <li class="menu-item">Open New Ticket</li>
        </ul>
      </div>
    </div>

  </div>
